<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="1">
    <test verbose="2" parallel="methods" name="D:/batch264/264pratice/src/test/java/DailyPratice/TestDemo.java" thread-count= "5" enabled="true" skipfailedinvocationcounts="true" >
        <classes><class name="DailyPratice.TestDemo" >
            <methods><include name="method1"/> </methods>
        </class>
        </classes>
    </test>
</suite>